[tool.poetry]
name = "just-agents-examples"
version = "0.4.1"
description = "Just Agents - Examples code"
authors = ["Alex Karmazin <karmazinalex@gmail.com>"]
maintainers = ["Anton Kulaga <antonkulaga@gmail.com>"]
readme = "README.md"
packages = [
    { include = "just_agents" },
    { include = "just_agents.*" }
]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.10"
just-agents-core = ">=0.4.1"
just-agents-tools = ">=0.4.1"
just-agents-coding = ">=0.4.1"
just-agents-web = ">=0.4.1"
just-agents-router = ">=0.4.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"