[tool.poetry]
name = "just-agents-examples"
version = "0.4.3"
description = "Just Agents - Examples code"
authors = ["Alex Karmazin <karmazinalex@gmail.com>"]
maintainers = ["Anton Kulaga <antonkulaga@gmail.com>"]
readme = "README.md"
packages = [
    { include = "just_agents" }
]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.10,<4.0"
just-agents-core = ">=0.4.3"
just-agents-tools = ">=0.4.3"
just-agents-coding = ">=0.4.3"
just-agents-web = ">=0.4.3"
just-agents-router = ">=0.4.3"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.4"
python-dotenv = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"